@import '~bootstrap/dist/css/bootstrap.min.css';
.margin-top-1vh{
    margin-top: 1vh;
}
.margin-top-2vh{
    margin-top: 2vh;
}
.margin-top-3vh{
    margin-top: 3vh;
}
.margin-top-4vh{
    margin-top: 4vh;
}
.margin-top-5vh{
    margin-top: 5vh;
}
.margin-top-6vh{
    margin-top: 6vh;
}
.margin-top-7vh{
    margin-top:7vh;
}
.margin-top-8vh{
    margin-top: 8vh;
}
.margin-top-9vh{
    margin-top: 9vh;
}
.margin-top-10vh{
    margin-top: 10vh;
}
